<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to Spring Boot Gitlab Example</h1>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.age}"></td>
            </tr>

            <tr th:each="employee : ${employees}" th:style="${employeeStat.odd}? 'font-weight: bold;'"
                th:alt-title="${employeeStat.even}? 'even' : 'odd'">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>